.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.stop-watch {
  width: 50%;
  min-width: 400px;
  margin-top: 20px;
}

.stop-watch button {
  margin: 0px 10px;
}

.stop-watch .panel-footer {
  display: flex;
  justify-content: flex-start;
}

